.header {
  width: 100%;
  transition: position 1s ease-in-out, background-color 0.1s ease-in-out;
  z-index: 50;
  position: sticky;
  top: 0;
  left: 0;

  .header-is-sticky & {
    // ..стили для липкого хедера
    position: sticky;
    background-color: #fff;
    top: 0;
    left: 0;
  }

  // .header__container
  &__container {
    height: rem($headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    transition: all 0.5s ease-in-out;

    .header-is-sticky & {
      margin-top: 1%;
      height: rem($headerHeight);
    }
  }
  &__nav {
    width: 60%;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-item {
      &-logo {
        img {
          transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out;
          &:hover {
            filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.374));
            transform: scale(1.01);
          }
        }
      }
      &-link {
        color: #000;
        text-align: center;
        font-family: SFProText, Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 20.8px */

        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 0.5s ease-in-out;
        &:hover {
          background-size: 100% 2px;
        }
      }
    }
  }

  &__phone {
    a {
      color: #000;
      text-align: right;
      font-family: SFProText, Roboto, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 16px */
      letter-spacing: 0.8px;
    }
  }
}

// Burger
/*
.icon-menu {
  display: none;

  @include mediaMx(768) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
